/.vs/PowerPositionReport/DesignTimeBuild/.dtbcache.v2
/.vs/PowerPositionReport/FileContentIndex/a7f1d928-94dd-40a5-8d18-5ed741dc5605.vsidx
/.vs/PowerPositionReport/FileContentIndex/a904c9a9-5fd9-461e-8259-07d3e47850fd.vsidx
/.vs/PowerPositionReport/v17/.suo
/.vs/PowerPositionReport/v17/DocumentLayout.backup.json
/.vs/PowerPositionReport/v17/DocumentLayout.json
